<!DOCTYPE html>
<html data-ng-app="donutApp">
  <head>
    <title>Donut Menu</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet"  href="http://fonts.googleapis.com/css?family=Quicksand">
  </head>
  <body>
    <main data-ng-controller="appController">
      <header>
        <h1>Buckeye Donuts</h1>
      </header>
      <nav class="navbar">
        <p>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Nutrition</a>
        </p>
      </nav>
      <div class="container">

        <h1>Donut Menu Management</h1>

        <ul>
          <li data-ng-repeat="donut in donuts">
            <h3>{{donut.day}}</h3>
            <ul>
              <li>
                Flavor: {{donut.flavor}}
              </li>
              <li>
                Description: {{donut.description}}
              </li>

              <li>
                <button data-ng-click="edit(donut)">Edit</button>
                <button data-ng-click="destroy(donut._id)">Delete</button>
              </li>
            </ul>
          </li>
        </ul>
        </section>

        <section class="donut-form" data-ng-submit="submitForm(donut)">
          <h3>Add a new donut special</h3>
          <form id="new_donut">
            <input type="text" name="name" placeholder="Day" data-ng-model="donut.day"/>
            <input type="text" name="flavor" placeholder="Flavor" data-ng-model="donut.flavor"/>
            <input type="text" name="description" placeholder="Description" data-ng-model="donut.description"/>
            <input type="Submit"/>
          </form>
        </section>
      </div>
    </main>
    <script src="bundle.js"></script>
  </body>
</html>
