extend layout

block content
  p
    | Range-rover camera saturation point courier engine shoes. RAF film 8-bit skyscraper vehicle meta-knife rebar nodal point realism youtube human towards engine augmented reality. Garage disposable papier-mache into neural sub-orbital Kowloon bicycle woman city. Jeans cyber-garage market nodal point crypto-BASE jump. What

block sidebar
  .spotlight
    h1 Aside
    p Maybe I could be a widget. Or a credenza.
      img(src='https://c2.staticflickr.com/8/7144/6404975957_02a6cc0a40_n.jpg')

