extend layout

block content
  img(src="bottles.jpg")
  p
    | Meta-nodality post-receding shanty town savant cardboard-ware jeans.
    | Hotdog marketing cartel wristwatch claymore mine rebar jeans rain DIY.
    | Shanty town pistol tower savant fetishism Tokyo motion tanto. Marketing
    | paranoid drone film concrete vinyl artisanal city bicycle camera smart-garage
    | grenade physical dolphin.
  p
    | Grenade shoes woman San Francisco garage wristwatch engine saturation point bridge film uplink assassin futurity tower-ware jeans. Dissident sensory uplink rain assassin pen cardboard dome boy physical tanto pistol into dolphin Legba j-pop semiotics. Legba office artisanal fetishism dead Chiba decay.

block sidebar
  .spotlight
    h1 Aside
    p
      | Chrome artisanal stimulate boy smart-dome skyscraper marketing pistol sensory urban dissident dolphin cardboard digital.
    p
      | Media nodal point ablative hacker Tokyo motion concrete RAF papier-mache Chiba. Shibuya tiger-team pistol girl narrative-space computer smart.
