extend layout

block heading
  h1 Donut Menu Management

block get-donut
  section.donut-form
    h3 Current daily donut specials
    form(id='daily_donut')
      select(id='get-select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      input(type="Submit")

block post-donut
  section.donut-form
    h3 Add a new holiday donut special
    form(id='new_donut')
      input(type="text", name="name" placeholder="Holiday")
      input(type="text", name="description" placeholder="flavor")
      input(type="Submit")

block put-donut
  section.donut-form
    h3 Update the Menu
    p Choose day of the week
    form(id='update_donut')
      select(id='update-select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      p Enter new flavor
      input(type="text", name="update_description" placeholder="flavor")
      input(type="Submit")

  block delete-donut
  section.donut-form
    h3 Delete a daily special
    p Choose day of the week to delete
    form(id='delete_donut')
      select(id='delete-select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      input(type="Submit")

block sidebar
  .spotlight
    h1 Only the best ingredients
    p
      | Chrome artisanal stimulate boy smart-dome skyscraper marketing pistol sensory urban dissident dolphin cardboard digital.
    p
      | Media nodal point ablative hacker Tokyo motion concrete RAF papier-mache Chiba. Shibuya tiger-team pistol girl narrative-space computer smart.
