extend layout

block content
  h1 Donut Menu Management
  section
    p
    | View daily donut specials:
    form(id='daily_donut')
      select(id='select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      input(type="Submit")
    p
    | Add a new holiday donut special:
    form(id='new_donut')
      input(type="text", name="name" placeholder="Holiday")
      input(type="text", name="description" placeholder="flavor")
      input(type="Submit")
    p
    | Update the Menu
    | Choose day of the week
    | Enter new flavor and click submit
    form(id='update_donut')
      select(id='select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      input(type="Submit")
      input(type="text", name="update_description" placeholder="flavor")
      input(type="Submit")

    p
    | Delete a daily special
    | Choose day of the week to delete
    form(id='delete_donut')
      select(id='select_day')
        option(name='Monday', val='Monday') Monday
        option(name='Tuesday', val='Tuesday') Tuesday
        option(name='Wednesday', val='Wednesday') Wednesday
        option(name='Thursday', val='Thursday') Thursday
        option(name='Friday', val='Friday') Friday
        option(name='Saturday', val='Saturday') Saturday
        option(name='Sunday', val='Sunday') Sunday
      input(type="Submit")


block sidebar
  .spotlight
    h1 Only the best ingredients
    p
      | Chrome artisanal stimulate boy smart-dome skyscraper marketing pistol sensory urban dissident dolphin cardboard digital.
    p
      | Media nodal point ablative hacker Tokyo motion concrete RAF papier-mache Chiba. Shibuya tiger-team pistol girl narrative-space computer smart.
