doctype
html
  head
    title #{title} Node Express Jade
    link(rel='stylesheet', href='CSS/style.css')
  body
    main
      header
        h1 Buckeye Donuts
      nav.navbar
        p
          a(href='/') Home
          a(href='about') About
      div.container

        section.main-content
          block heading
          block get-donut
          block post-donut
          block put-donut
          block delete-donut
        aside.sidebar
          block sidebar

      footer
        p Running on node with Express and Jade
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='js/main.js')
