doctype
html
  head
    title #{title} Node Express Jade
    link(rel='stylesheet', href='CSS/style.css')
  body
    header
      h1 Node Site Thing Header
    nav.navbar
      p
        a(href='/') Home
        a(href='about') About
    main.container
      section.main-content
        block content
      aside.sidebar
        block sidebar
    footer
      p Running on node with Express and Jade
