@import url('http://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Georgia';
  background-color: #FCFFF5; /*off white*/
  color: #193441; /*dk blue gray green*/
}
header {
  font-family: 'Quicksand';
  color:white;
  background-color: #3E606F; /*blue gray*/
  padding: 2em .5em;
  font-size: 1.5em;
  text-align: center;
}
p {
  line-height: 1.8;
}

.container {
  width: 40em;
  margin: 1em auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 25em;
}
.main-content p {
  margin-bottom: 1em;
}

.sidebar {
  float: left;
  width: 15em;
}
.sidebar .spotlight{
  border-radius: .25em;
  border: 1px solid #ccc;
  margin-left: 1em;
  background-color: #D1DBBD; /*pale green*/
}
.sidebar .spotlight h1 {
  font-family: 'Quicksand';
  padding-bottom: .5em;
  border-bottom: 1px dotted #ddd;
  margin-bottom: .5em;
}
.sidebar .spotlight p{
  padding: 0 .5em;
  margin-bottom: .5em;
}

footer {
  width: 40em;
  margin: 3em auto;
  border-top: 1px dotted #ccc;
  padding-top: .25em;
  font-size: .7em;
}
